[Libraries to Ignore]
[Libraries to Ignore]
[Libraries to Ignore]
[Libraries to Ignore]
[Libraries to Ignore]

Library/
Temp/
Obj/
Logs/
MemoryCaptures/

# Builds
Build/
Builds/

# Cache
UserSettings/
.vs/
*.csproj
*.sln
*.user
*.unityproj

# Unity crashes
sysinfo.txt
